@font-face {
    font-family: SourGummy;
    src: url(../fonts/Sour_Gummy/static/SourGummy-SemiBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropAndFadeIn {
    0% {
        top: 110%;
    }
    100% {
        top: 100%;
        opacity: 1;
    }
}

@keyframes dropIn {
    0% {
        top: -50%;
    }
    100% {
        top: -20%;
    }
}

@keyframes slideInFromLeft {
    0% {
        left: -10%;
    }
    100% {
        left: 0%;
    }
}

html, body {
    height: 100%;
    background-color: #f7e9d9;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    > div {
        height: 100vh;
        scroll-snap-align: start;
        overflow: hidden;
    }

    #page1-coverLetter {
        height: 100vh;
        width: 100vw;
        background-color: #f7e9d9;
        font-family: 'SourGummy';
        position: relative;

        #pageTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
    
            .block1 {
                span {
                    font-family: 'SourGummy';
                    font-size: 5rem;
                    opacity: 0;
                    animation-name: fadeIn;
                    animation-duration: 1.5s;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                }
    
                /* Start fast -> end slow */
                .letter1 { animation-delay: 0.3s; }
                .letter2 { animation-delay: 0.325s; }   // 0.025s
                .letter3 { animation-delay: 0.375s; }   // 0.05s
                .letter4 { animation-delay: 0.45s; }    // 0.075s
                .letter5 { animation-delay: 0.55s; }   // 0.1s
                .letter6 { animation-delay: 0.65s; }    // 0.1s
                .letter7 { animation-delay: 0.75s; }   // 0.1s
                .letter8 { animation-delay: 0.85s; }    // 0.1s
                .letter9 { animation-delay: 0.95s; }    // 0.1s
    
            }
    
            .block2 {
                font-family: 'SourGummy';
                font-size: 2rem;
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
    
                span {
                    position: fixed;
                    top: 110%;
                    opacity: 0;
                    display: block;
                    animation-name: dropAndFadeIn;
                    animation-duration: 1.5s;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        #ivy1 {
            position: absolute;
            top: -100%;
            right: 10%;
            transform: rotate(30deg);
            height: 60%;
            width: auto;
            z-index: 1;
            animation-name: dropIn;
            animation-duration: 1.5s;
            animation-delay: 0.75s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }
    
        #flower1 {
            position: absolute;
            bottom: 10%;
            left: -100%;
            transform: rotate(15deg) rotateY(180deg);
            height: 50%;
            width: auto;
            z-index: 1;
            animation-name: slideInFromLeft;
            animation-duration: 1.75s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }
    }

    #page2-projectOverview {
        height: 100vh;
        width: 100vw;
        background-color: #c7b8ea;
        font-family: 'SourGummy';       /* Add other version of font (e.g. non bold) */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#beeCursorTracker {
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 9999;
    height: 5rem;
    width: auto;
    top: -100%; /* Should not be visible until cursor gets moved */
}

#cursorTrail {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

.trail-point {
    z-index: 9999;
    position: fixed;
    width: 1rem;
    height: 1rem;
    background-color: #f9c728;
    border-radius: 50%;
    transition: all 0.3s ease;
}