<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cover Letter</title>
</head>
<body>
    <div id="pageTitle" aria-label="Stephan Hagmann's Webpage" aria-hidden="true">
        <div class="block1">
            <span class="letter1">S</span>
            <span class="letter2">t</span>
            <span class="letter3">e</span>
            <span class="letter4">p</span>
            <span class="letter5">h</span>
            <span class="letter6">a</span>
            <span class="letter7">n</span>
            <span class="letter8">'</span>
            <span class="letter9">s</span>
        </div>
        <div class="block2">
            <span>Portfolio-Webpage</span>
        </div>
</body>
</html>
